node_modules
/public/js
/public/feedback-files/
/public/images/avatars/
!/public/images/avatars/default.jpg
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
