@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUI.woff2') format('woff2'),
        url('/fonts/SegoeUI.woff') format('woff'),
        url('/fonts/SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('/fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('/fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('/fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('/fonts/SegoeUI-Bold.woff') format('woff'),
        url('/fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-weight: 400;
    font-family: SegoeUI !important;
    height: 100vh;
}

p {
    word-break: break-word;
    overflow-wrap: break-word;
}

#root {
    height: 100%;
}
.btn-danger {
    background: #eb552f;
    border-color: #eb552f;
}

.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem #eb542f4a;
}

.btn-success {
    background: #30d92a;
    border-color: #30d92a;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem #30da2a4a;
}
